<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Add New Message</h1>
    <form method="POST" action="/new">
        Your Name: <input type="text" name="name"><br>
        Message: <input type="text" name="messageText"><br>
        <input type="submit" value="Submit">
    </form>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  

  </body>
</html>
